/Users/sravani.gadey/Desktop/Workstation/S3AuditLogsMergerAndParser/AuditLogFile
/Users/sravani.gadey/Desktop/Workstation/S3AuditLogsMergerAndParser/CsvLogs.csv
/Users/sravani.gadey/Desktop/Workstation/S3AuditLogsMergerAndParser/data.avro
/Users/sravani.gadey/Desktop/Workstation/S3AuditLogsMergerAndParser/emptyfile.txt
/Users/sravani.gadey/Desktop/Workstation/S3AuditLogsMergerAndParser/exampleauditlogfile.txt
/Users/sravani.gadey/Desktop/Workstation/S3AuditLogsMergerAndParser/Json.json
/Users/sravani.gadey/Desktop/Workstation/S3AuditLogsMergerAndParser/logs
/Users/sravani.gadey/Desktop/Workstation/S3AuditLogsMergerAndParser/src/main/java/com/logs/2022-02-24-06-10-55-C690188C60DA9C1D
/Users/sravani.gadey/Desktop/Workstation/S3AuditLogsMergerAndParser/src/main/java/com/logs/AuditLogFile
/Users/sravani.gadey/Desktop/Workstation/S3AuditLogsMergerAndParser/src/main/java/com/logs/log-2022-02.txt